body
{
    background-color: #ffffff;
    color: #000000;
    font-family: "Bitstream Vera Sans", verdana, lucida, arial,
                 helvetica, sans-serif;
    font-size: 11pt;
    margin: 2% 5%;
}
h1, h2, h3, h4, h5, h6, h7
{
    background-color: #b2d599;
    color: #000000;
    text-align: left;
    font-size: 11pt;
    padding: 5px;
}
td.even, td.uneven
{
    color: #000000;
    font-size: 10pt;
}
li
{
    font-size: 10pt;
}
td.even
{
    background-color: #eeeeee;
}
span.SOURCE
{
    white-space: pre;
}
pre
{
    background-color: #ffffff;
    color: #000000;
    font-size: 10pt;
}
