[Desktop Entry]
Comment=Superkaramba Theme File
Comment[br]=Restr giz Superkaramba
DefaultApp=superkaramba
Icon=superkaramba_theme
MimeType=application/x-superkaramba
Patterns=*.skz;*.SKZ;*.theme;*.THEME
Type=MimeType
X-KDE-AutoEmbed=false
