[Desktop Entry]
Comment=Superkaramba Theme File
Comment[ar]=ملف سمِة سوبركارامبا
Comment[bg]=Файл с тема за Superkaramba
Comment[br]=Restr giz Superkaramba
Comment[bs]=Datoteka sa Superkaramba temom
Comment[ca]=Arxiu de tema pel Superkaramba 
Comment[cs]=Soubor Superkaramba motivu
Comment[da]=Superkaramba-temafil
Comment[de]=Superkaramba Design-Datei
Comment[el]=Αρχείο θέματος του Superkaramba
Comment[es]=Archivo de tema de Superkaramba
Comment[et]=Superkaramba teemafail
Comment[eu]=Superkaramba gai-fitxategia
Comment[fa]=پروندۀ چهرۀ Superkaramba
Comment[fi]=Superkaramban teematiedosto
Comment[fr]=Fichier de thème SuperKaramba
Comment[ga]=Comhad Téama Superkaramba
Comment[he]=ערכת נושא של Superkaramba
Comment[hu]=SuperKaramba-témafájl
Comment[is]=Súperkaramba þemuskrá
Comment[it]=File di tema Superkaramba
Comment[ja]=Superkaramba テーマファイル
Comment[ka]=Superkaramba-ს თემის ფაილი
Comment[kk]=Superkaramba нақыш файлы
Comment[km]=ឯកសារ​ស្បែក Superkaramba
Comment[lt]=Superkaramba temos byla
Comment[nb]=Temafil for Superkaramba
Comment[nds]=Muster-Datei vun Superkaramba
Comment[ne]=सुपरकराम्बा विषयवस्तु फाइल
Comment[nl]=Thema-bestand van Superkaramba
Comment[nn]=Superkaramba-temafil
Comment[pa]=Superkaramba ਸਰੂਪ ਫਾਇਲ
Comment[pl]=Plik motywu Superkaramby
Comment[pt]=Ficheiro de Tema do Superkaramba
Comment[pt_BR]=Arquivo de Tema do Superkaramba
Comment[ru]=Тема Superkaramba
Comment[sk]=Súbor témy superkaramba
Comment[sl]=Datoteka s temo za Superkarambo
Comment[sr]=Фајл теме СуперКарамбе
Comment[sr@Latn]=Fajl teme SuperKarambe
Comment[sv]=Superkaramba-temafil
Comment[tr]=Superkaramba Tema Dosyası
Comment[uk]=Файл теми Superkaramba
Comment[zh_CN]=Superkaramba 主题文件
Comment[zh_TW]=Superkaramba 佈景檔案
DefaultApp=superkaramba
Icon=superkaramba_theme
MimeType=application/x-superkaramba
Patterns=*.skz;*.SKZ;*.theme;*.THEME
Type=MimeType
X-KDE-AutoEmbed=false
