[Desktop Entry]
Comment=Superkaramba Theme File
Comment[bg]=Файл с тема за Superkaramba
Comment[br]=Restr giz Superkaramba
Comment[ca]=Arxiu de tema pel Superkaramba 
Comment[cs]=Soubor Superkaramba motivu
Comment[da]=Superkaramba-temafil
Comment[de]=Superkaramba Design-Datei
Comment[el]=Αρχείο θέματος του Superkaramba
Comment[es]=Archivo de tema de Superkaramba
Comment[et]=Superkaramba teemafail
Comment[eu]=Superkaramba gai-fitxategia
Comment[fr]=Fichier de thème SuperKaramba
Comment[hu]=SuperKaramba-témafájl
Comment[it]=File di tema Superkaramba
Comment[ja]=Superkaramba テーマファイル
Comment[lt]=Superkaramba temos byla
Comment[nb]=Temafil for Superkaramba
Comment[nl]=Thema-bestand van Superkaramba
Comment[pa]=Superkaramba ਸਰੂਪ ਫਾਇਲ
Comment[pl]=Plik motywu Superkaramby
Comment[pt]=Ficheiro de Tema do Superkaramba
Comment[pt_BR]=Arquivo de Tema do Superkaramba
Comment[ru]=Тема Superkaramba
Comment[sr]=Фајл теме СуперКарамбе
Comment[sr@Latn]=Fajl teme SuperKarambe
Comment[uk]=Файл теми Superkaramba
Comment[zh_CN]=Superkaramba 主题文件
DefaultApp=superkaramba
Icon=superkaramba_theme
MimeType=application/x-superkaramba
Patterns=*.skz;*.SKZ;*.theme;*.THEME
Type=MimeType
X-KDE-AutoEmbed=false
