[Desktop Entry]
Name=SuperKaramba
Name[ar]=سوبركارامبا
Name[is]=SúperKaramba
Name[ne]=सुपरकराम्बा
Name[pa]=ਸੁਪਰਕਾਰਾਮਬਾ
Name[sr]=СуперКарамба
Name[ta]=சூப்பர் கரம்பா
Name[x-test]=xxSuperKarambaxx
Comment=Karamba Desktop Theme
Comment[da]=Karamba desktoptema
Comment[el]=Θέμα επιφάνειας εργασίας του Karamba
Comment[es]=Tema de escritorio para Karamba
Comment[ga]=Téama Deisce Karamba
Comment[ja]=Karamba のデスクトップテーマ
Comment[km]=ស្បែក​ផ្ទៃតុ​របស់ Karamba
Comment[ko]=Karamba 데스크톱 테마
Comment[pt]=Tema do Ambiente do Karamba
Comment[pt_BR]=Temas da Área de Trabalho do Karamba
Comment[x-test]=xxKaramba Desktop Themexx
Comment[zh_CN]=Karamba 桌面主题
Comment[zh_TW]=Karamba 桌面主題
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=superkaramba
X-KDE-Library=plasma_scriptengine_superkaramba
X-EngineName=superkaramba
X-Plasma-Language=superkaramba
X-Plasma-ComponentTypes=Applet
X-Plasma-PackageFormat=superkaramba
X-KDE-PluginInfo-Name=superkaramba
