[Desktop Entry]
Name=SuperKaramba Theme Files
Name[el]=Αρχεία θεμάτων του SuperKaramba
Name[es]=Archivos de tema para SuperKaramba
Name[ga]=Comhaid Téama SuperKaramba
Name[pt]=Ficheiros de Temas do SuperKaramba
Name[pt_BR]=Ficheiros de Temas do SuperKaramba
Name[zh_TW]=SuperKaramba 主題檔案
Comment=Karamba Desktop Themes
Comment[el]=Θέματα επιφάνειας εργασίας του Karamba
Comment[es]=Temas de escritorio para Karamba
Comment[ga]=Téamaí Deisce Karamba
Comment[pt]=Temas do Ambiente do Karamba
Comment[pt_BR]=Temas do Ambiente do Karamba
Comment[zh_TW]=Karamba 桌面主題
Type=Service
Icon=superkaramba
X-EngineName=superkaramba
X-KDE-PluginInfo-Name=superkaramba
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_superkaramba
X-Plasma-PackageFileFilter=*.skz
