[Desktop Entry]
Name=SuperKaramba
Name[ar]=سوبركارامبا
Name[bg]=SuperKaramba
Name[br]=SuperKaramba
Name[ca]=SuperKaramba
Name[cs]=SuperKaramba
Name[cy]=SuperKaramba
Name[da]=SuperKaramba
Name[de]=SuperKaramba
Name[el]=SuperKaramba
Name[en_GB]=SuperKaramba
Name[eo]=SuperKaramba
Name[es]=SuperKaramba
Name[et]=SuperKaramba
Name[eu]=SuperKaramba
Name[fi]=SuperKaramba
Name[fr]=SuperKaramba
Name[ga]=SuperKaramba
Name[gl]=SuperKaramba
Name[he]=SuperKaramba
Name[hne]=सुपरकराम्बा
Name[hr]=SuperKaramba
Name[hu]=SuperKaramba
Name[is]=SúperKaramba
Name[it]=SuperKaramba
Name[ja]=SuperKaramba
Name[kk]=SuperKaramba
Name[km]=SuperKaramba
Name[ko]=SuperKaramba
Name[lt]=SuperKaramba
Name[lv]=SuperKaramba
Name[nb]=SuperKaramba
Name[nds]=SuperKaramba
Name[ne]=सुपरकराम्बा
Name[nl]=SuperKaramba
Name[nn]=SuperKaramba
Name[pa]=ਸੁਪਰਕਾਰਾਮਬਾ
Name[pl]=SuperKaramba
Name[pt]=SuperKaramba
Name[pt_BR]=SuperKaramba
Name[ro]=SuperKaramba
Name[ru]=SuperKaramba
Name[sk]=SuperKaramba
Name[sl]=SuperKaramba
Name[sr]=Суперкарамба
Name[sr@latin]=SuperKaramba
Name[sv]=SuperKaramba
Name[ta]=சூப்பர் கரம்பா
Name[th]=SuperKaramba
Name[tr]=SuperKaramba
Name[uk]=SuperKaramba
Name[vi]=SuperKaramba
Name[x-test]=xxSuperKarambaxx
Name[zh_CN]=SuperKaramba
Name[zh_TW]=SuperKaramba
Comment=SuperKaramba Plasma Applet
Comment[ar]=بريمج بلازما سوبركارامبا
Comment[bg]=Plasma аплет за SuperKaramba
Comment[ca]=Miniaplicació plasma del SuperKaramba
Comment[cs]=Superkaramba applet
Comment[da]=SuperKaramba-plasmoid
Comment[de]=SuperKaramba Plasma-Miniprogramm
Comment[el]=Μικροεφαρμογή Plasma SuperKaramba
Comment[en_GB]=SuperKaramba Plasma Applet
Comment[eo]=SuperKaramba Plasma apleto
Comment[es]=Miniaplicación de SuperKaramba para Plasma
Comment[et]=Superkaramba plasma aplett
Comment[eu]=Superkaramba Plasma appleta
Comment[fi]=SuperKaramba Plasma-sovelma
Comment[fr]=Applet SuperKaramba pour Plasma
Comment[ga]=Feidhmchláirín Plasma SuperKaramba
Comment[gl]=Aplicaciónciña de SuperKaramba para Plasma
Comment[he]=יישומון Plasma  עבור Superkaramba
Comment[hne]=सुपरकराम्बा प्लाज्मा ऐप्लेट
Comment[hr]=Plasma-applet SuperKaramba
Comment[hu]=SuperKaramba Plasma-kisalkalmazás
Comment[is]=Súperkaramba plasma-smáforrit
Comment[it]=File di tema SuperKaramba
Comment[ja]=SuperKaramba Plasma アプレット
Comment[km]=អាប់ភ្លេត​ប្លាស្មា​របស់ SuperKaramba
Comment[ko]=SuperKaramba Plasma 애플릿
Comment[lv]=SuperKaramba Plasma sīklietotne
Comment[nb]=Superkaramba plasma-miniprogram
Comment[nds]=SuperKaramba-Lüttprogramm för Plasma
Comment[nl]=Superkaramba Plasma-applet
Comment[nn]=SuperKaramba-element
Comment[pa]=SuperKaramba ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ
Comment[pl]=Aplet Plazmy SuperKaramba
Comment[pt]='Applet' do Plasma para o SuperKaramba
Comment[pt_BR]=Miniaplicativo plasma do SuperKaramba
Comment[ro]=Miniaplicație Plasma SuperKaramba
Comment[ru]=Виджет Plasma для SuperKaramba
Comment[sk]=SuperKaramba plasma applet
Comment[sl]=Vstavek SuperKaramba za Plazmo
Comment[sr]=Суперкарамбин плазма аплет
Comment[sr@latin]=SuperKarambin plasma aplet
Comment[sv]=SuperKaramba Plasma-miniprogram
Comment[ta]=சூப்பர் கரம்பா ப்ளாஸ்மா குறுநிரல்
Comment[th]=แอพเพล็ต SuperKaramba ของพลาสมา
Comment[tr]=SuperKaramba Plasma Programcığı
Comment[uk]=Аплет SuperKaramba Plasma
Comment[x-test]=xxSuperKaramba Plasma Appletxx
Comment[zh_CN]=SuperKaramba Plasma 小程序
Comment[zh_TW]=SuperKaramba Plasma 小程式
Type=Service
Icon=superkaramba
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_skapplet
X-KDE-PluginInfo-Author=The SuperKaramba Team
X-KDE-PluginInfo-Name=skapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=SuperKaramba
X-KDE-PluginInfo-Category[x-test]=xxSuperKarambaxx
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
