[Desktop Entry]
Name=SuperKaramba
Comment=SuperKaramba Plasma Applet
Type=Service
Icon=superkaramba
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_skapplet
X-KDE-PluginInfo-Author=The SuperKaramba Team
X-KDE-PluginInfo-Name=skapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=SuperKaramba
X-KDE-PluginInfo-Category[x-test]=xxSuperKarambaxx
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
