[Desktop Entry]
Name=SuperKaramba
Name[ar]=سوبركارامبا
Name[bg]=SuperKaramba
Name[br]=SuperKaramba
Name[ca]=SuperKaramba
Name[cs]=SuperKaramba
Name[cy]=SuperKaramba
Name[da]=SuperKaramba
Name[de]=SuperKaramba
Name[el]=SuperKaramba
Name[en_GB]=SuperKaramba
Name[eo]=SuperKaramba
Name[es]=SuperKaramba
Name[et]=SuperKaramba
Name[eu]=SuperKaramba
Name[fi]=SuperKaramba
Name[fr]=SuperKaramba
Name[ga]=SuperKaramba
Name[gl]=SuperKaramba
Name[he]=SuperKaramba
Name[hne]=सुपरकराम्बा
Name[hr]=SuperKaramba
Name[hu]=SuperKaramba
Name[is]=SúperKaramba
Name[it]=SuperKaramba
Name[ja]=SuperKaramba
Name[kk]=SuperKaramba
Name[km]=SuperKaramba
Name[ko]=SuperKaramba
Name[lt]=SuperKaramba
Name[lv]=SuperKaramba
Name[nb]=SuperKaramba
Name[nds]=SuperKaramba
Name[ne]=सुपरकराम्बा
Name[nl]=SuperKaramba
Name[nn]=SuperKaramba
Name[pa]=ਸੁਪਰਕਾਰਾਮਬਾ
Name[pl]=SuperKaramba
Name[pt]=SuperKaramba
Name[pt_BR]=SuperKaramba
Name[ro]=SuperKaramba
Name[ru]=SuperKaramba
Name[sk]=SuperKaramba
Name[sl]=SuperKaramba
Name[sr]=Суперкарамба
Name[sr@latin]=SuperKaramba
Name[sv]=SuperKaramba
Name[ta]=சூப்பர் கரம்பா
Name[th]=SuperKaramba
Name[tr]=SuperKaramba
Name[uk]=SuperKaramba
Name[vi]=SuperKaramba
Name[x-test]=xxSuperKarambaxx
Name[zh_CN]=SuperKaramba
Name[zh_TW]=SuperKaramba
Comment=Karamba Desktop Theme
Comment[ar]=سمة كارامبا لسطح المكتب
Comment[bg]=Теми за Karamba
Comment[ca]=Tema d'escriptori del Karamba
Comment[cs]=Motiv plochy Karamba
Comment[da]=Karamba desktoptema
Comment[de]=Karamba Arbeitsflächendesign
Comment[el]=Θέμα επιφάνειας εργασίας του Karamba
Comment[en_GB]=Karamba Desktop Theme
Comment[es]=Tema de escritorio para Karamba
Comment[et]=Karamba töölauateema
Comment[eu]=Karamba mahaigaina gaia
Comment[fi]=Karamba-työpöytäteema
Comment[fr]=Thème du bureau Karamba
Comment[ga]=Téama Deisce Karamba
Comment[gl]=Tema de escritorio de Karamba
Comment[hne]=कराम्बा डेस्कटाप प्रसंग
Comment[hr]=Tema radne površine Karamba
Comment[hu]=Karamba-téma
Comment[is]=Karamba skjáborðsþema
Comment[it]=Tema desktop Karamba
Comment[ja]=Karamba のデスクトップテーマ
Comment[km]=ស្បែក​ផ្ទៃតុ​របស់ Karamba
Comment[ko]=Karamba 데스크톱 테마
Comment[lv]=Karamba darbvirsmas tēma
Comment[nb]=Karamba skrivebordstema
Comment[nds]=Karamba-Schriefdischmuster
Comment[nl]=Karamba desktopthema
Comment[nn]=Skrivebordstema for Karamba
Comment[pa]=ਕਾਰਾਮਾਬਾ ਡੈਸਕਟਾਪ ਥੀਮ
Comment[pl]=Motyw pulpitu Karamby
Comment[pt]=Tema do Ambiente do Karamba
Comment[pt_BR]=Temas de área de trabalho do Karamba
Comment[ro]=Tamatică pentru birou Karamba
Comment[ru]=Тема рабочего стола Karamba
Comment[sk]=Téma plochy Karamba
Comment[sl]=Namizna tema Karamba
Comment[sr]=Тема површи за Карамбу
Comment[sr@latin]=Tema površi za Karambu
Comment[sv]=Karamba skrivbordstema
Comment[th]=ชุดตกแต่งพื้นที่ทำงานของ Karamba
Comment[tr]=Karamba Masaüstü Teması
Comment[uk]=Тема Karamba для стільниці
Comment[x-test]=xxKaramba Desktop Themexx
Comment[zh_CN]=Karamba 桌面主题
Comment[zh_TW]=Karamba 桌面主題
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=superkaramba
X-KDE-Library=plasma_scriptengine_superkaramba
X-EngineName=superkaramba
X-Plasma-API=superkaramba
X-Plasma-ComponentTypes=Applet
X-Plasma-PackageFormat=superkaramba
X-KDE-PluginInfo-Name=superkaramba
