[Desktop Entry]
Encoding=UTF-8
Name=SuperKaramba
Exec=superkaramba
Icon=clanbomber
Type=Application
Comment=An engine for cool desktop eyecandy.
Comment[pt]=Um motor para elementos no ecrã.
GenericName=Desktop Widgets
GenericName[pt]=Elementos no Ecrã
