[Desktop Entry]
Encoding=UTF-8
Name=SuperKaramba
Exec=superkaramba
Icon=clanbomber
Type=Application
Comment=An engine for cool desktop eyecandy.
GenericName=Desktop Widgets
