[Desktop Entry]
Encoding=UTF-8
Name=SuperKaramba
Name[x-test]=xxSuperKarambaxx
Exec=superkaramba %U
Icon=superkaramba
Type=Application
MimeType=application/x-superkaramba
Comment=An engine for cool desktop eyecandy.
Comment[el]=Μία μηχανή για εντυπωσιακές διακοσμήσεις επιφάνειας εργασίας.
Comment[fr]=Un moteur de bureau esthétique et sympathique
Comment[x-test]=xxAn engine for cool desktop eyecandy.xx
GenericName=Desktop Widgets
GenericName[el]=Γραφικά συστατικά επιφάνειας εργασίας
GenericName[fr]=Éléments graphiques pour le bureau
GenericName[x-test]=xxDesktop Widgetsxx
DocPath=superkaramba/index.html
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;

