[Desktop Entry]
Name=SuperKaramba
Name[ar]=سوبركارامبا
Name[hi]=सुपरकराम्बा
Name[is]=SúperKaramba
Name[ne]=सुपरकराम्बा
Name[pa]=ਸੁਪਰਕਾਰਾਮਬਾ
Name[sr]=СуперКарамба
Name[ta]=சூப்பர் கரம்பா
Name[x-test]=xxSuperKarambaxx
Comment=SuperKaramba Plasma Applet
Comment[ar]=بريمج بلازما سوبركارامبا
Comment[ca]=Miniaplicació plasma del SuperKaramba
Comment[cs]=Superkaramba applet
Comment[da]=SuperKaramba-plasmoid
Comment[de]=SuperKaramba Plasma-Miniprogramm
Comment[el]=Μικροεφαρμογή Plasma SuperKaramba
Comment[eo]=SuperKaramba Plasma apleto
Comment[es]=Applet de SuperKaramba para Plasma
Comment[et]=Superkaramba plasma aplett
Comment[fi]=SuperKaramba Plasma-sovelma
Comment[fr]=Applet SuperKaramba pour Plasma
Comment[ga]=Feidhmchláirín Plasma SuperKaramba
Comment[gl]=Aplicaciónciña de SuperKaramba para Plasma
Comment[he]=יישומון Plasma  עבור Superkaramba
Comment[hi]=सुपरकराम्बा प्लाज़्मा ऐप्लेट
Comment[hu]=SuperKaramba Plasma-kisalkalmazás
Comment[is]=Súperkaramba Plasma smáforrit
Comment[it]=File di tema SuperKaramba
Comment[ja]=SuperKaramba Plasma アプレット
Comment[km]=អាប់ភ្លេត​ប្លាស្មា​របស់ SuperKaramba
Comment[ko]=SuperKaramba Plasma 애플릿
Comment[lv]=SuperKaramba Plasma sīklietotne
Comment[nb]=Superkaramba plasma-miniprogram
Comment[nds]=SuperKaramba-Lüttprogramm för Plasma
Comment[nl]=Superkaramba Plasma-applet
Comment[pa]=SuperKaramba ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ
Comment[pl]=Aplet Plasmy SuperKaramba
Comment[pt]='Applet' do Plasma para o SuperKaramba
Comment[pt_BR]=Mini-aplicativo Plasma do Superkaramba
Comment[sl]=Vstavek Superkaramba za Plazmo
Comment[sv]=SuperKaramba Plasma-miniprogram
Comment[ta]=சூப்பர் கரம்பா ப்ளாஸ்மா குறுநிரல்
Comment[uk]=Аплет SuperKaramba Plasma
Comment[wa]=Aplikete Plasma SuperKaramba
Comment[x-test]=xxSuperKaramba Plasma Appletxx
Comment[zh_CN]=SuperKaramba Plasma 小程序
Comment[zh_TW]=SuperKaramba Plasma 小程式
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_skapplet
X-KDE-PluginInfo-Author=The SuperKaramba Team
X-KDE-PluginInfo-Name=skapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=SuperKaramba
X-KDE-PluginInfo-Category[x-test]=xxSuperKarambaxx
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
