[Desktop Entry]
Encoding=UTF-8
Name=SuperKaramba
Name[is]=SúperKaramba
Name[ne]=सुपरकराम्बा
Name[sr]=СуперКарамба
Name[ta]=சூப்பர் கரம்பா
Name[x-test]=xxSuperKarambaxx
Comment=SuperKaramba Plasma Applet
Comment[el]=Εφαρμογίδιο πλάσμα SuperKaramba
Comment[es]=Applet de SuperKaramba para Plasma
Comment[he]=יישומון Plasma  עבור Superkaramba
Comment[ja]=SuperKaramba Plasma アプレット
Comment[ko]=SuperKaramba Plasma 애플릿
Comment[nl]=Superkaramba Plasma-applet
Comment[pt]='Applet' do Plasma para o SuperKaramba
Comment[pt_BR]='Applet' do Plasma para o SuperKaramba
Comment[sv]=SuperKaramba Plasma-miniprogram
Comment[ta]=சூப்பர் கரம்பா ப்ளாஸ்மா குறுநிரல்
Comment[zh_TW]=SuperKaramba Plasma 小程式
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_skapplet
X-KDE-PluginInfo-Author=The SuperKaramba Team
X-KDE-PluginInfo-Name=skapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
